nav {
    display: flex;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, .35);
}

body {
    margin: 0;
    background-color: rgba(252, 252, 252);
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 25vw;
    min-height: 65vh;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 12px;
    background-color: white;
}

.exampleFigure {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 35px 35px 1fr 1fr 35px;
    margin-top: 20px;
    width: 200px;
    height: 300px;
    border: 1px solid gray;
    align-self: center;
}

.figHead {
    grid-column-start: 1;
    grid-column-end: span 2;
}

.figAside {
    grid-row-end: span 2;
}

.figItem {
    border: 1px solid gray;
    text-align: center;
    line-height: 30px;
    font-family: Consolas;
}

h1 {
    width: 100%;
    font-family: 'Lora', serif;
    text-align: center;
    padding-top: 10px;
    margin: 0;
}

h1 a {
    text-decoration: none;
    color: black;
}

.card li {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    padding-bottom: 5px;
}

.card ul {
    list-style-type: none;
}

code pre {
    padding: 10px 0px 0px 20px;
    color: rgba(0, 0, 0, .80)
}

.code-style {
    font-family: consolas;
    background-color: blanchedalmond;
    border-radius: 5px;
    padding: 1px;
}

.flex-container {
    height: calc(100vh - 51px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;   
}

table {
    font-family: 'Lora', serif;
    padding: 30px;
}

thead {
    text-align: left;
}

th, td {
    padding-right: 20px;
}

